<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="~/Css/boostrap.min.css">
        <link rel="stylesheet" href="~/Css/swiper-bundle.min.css">
        <link rel="stylesheet" type="text/css" href="~/Css/styles.css" />

        @RenderSection("Styles", false)

        <!-- Icons -->
        <link rel="stylesheet" href="~/Fonts/font-icons.css">
        <!-- Favicon and Touch Icons  -->
        <link rel="shortcut icon" href="~/Images/logo/48.png" />
        <link rel="apple-touch-icon-precomposed" href="~/Images/logo/48.png" />

        <title>@ViewBag.Title</title>
    </head>

    @RenderBody()

</html>