<div class="menubar-footer footer-fixed">
    <ul class="inner">
        <li id="a"><a asp-controller="Home" asp-action="Index"><span class="icon-home"></span> خانه</a></li>
        <li id="b"><a href="nearby.html"><span class="icon-discovery"></span> نزدیک</a></li>
        <li id="c"><a asp-controller="Basket" asp-action="Index"><span class="icon-buy"></span> سبد خرید</a></li>
        <li id="d"><a href="favorite.html"><span class="icon-heart"></span> مورد علاقه</a></li>
        <li id="e"><a href="profile.html"><span class="icon-profile"></span> پروفایل</a></li>
    </ul>
</div>